<% stats = @user.nutri_stats %>

<div class="container">
  <h1><%= @user.name %>の冷蔵庫</h1>
  <h3>Foods (<%= @user.foods.count %>)</h3>
  <div class="graph-cont">
    <label for="stats-protein">プロテイン</label>
    <div class="bar" id="stats-protein"><%= "%.2f" % (stats[:protein]) %>日分</div>
    <label for="stats-lipd">脂肪</label>
    <div class="bar" id="stats-lipd"><%= "%.2f" % (stats[:lipd]) %>日分</div>
    <label for="stats-carbon">炭水化物</label>
    <div class="bar" id="stats-carbon"><%= "%.2f" % (stats[:carbon]) %>日分</div>
    <label for="stats-vitamin">ビタミン</label>
    <div class="bar" id="stats-vitamin"><%= "%.2f" % (stats[:vitamin]) %>日分</div>
    <label for="stats-minerals">ミネラル</label>
    <div class="bar" id="stats-minerals"><%= "%.2f" % (stats[:minerals]) %>日分</div>
  </div>
</div>

<style type="text/css">
  #stats-protein:after{
    max-width: <%= [stats[:protein], 7].min / 7 * 100 %>%;
  }
  #stats-lipd:after{
    max-width: <%= [stats[:lipd], 7].min / 7 * 100 %>%;
  }
  #stats-carbon:after{
    max-width: <%= [stats[:carbon], 7].min / 7 * 100 %>%;
  }
  #stats-vitamin:after{
    max-width: <%= [stats[:vitamin], 7].min / 7 * 100 %>%;
  }
  #stats-minerals:after{
    max-width: <%= [stats[:minerals], 7].min / 7 * 100 %>%;
  }
</style>
