<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<br>

<%= link_to 'Open Refrige', user_foods_path(@user) %>

<div>
  <% if @user.foods.any? %>
    <h3>Foods (<%= @user.foods.count %>)</h3>
    <h4>Stats:</h4>
    <ul>
      <li><%= "%.2f" % @user.foods.sum(:protein) %></li>
      <li><%= "%.2f" % @user.foods.sum(:lipd) %></li>
      <li><%= "%.2f" % @user.foods.sum(:carbon) %></li>
      <li><%= "%.2f" % @user.foods.sum(:vitamin) %></li>
      <li><%= "%.2f" % @user.foods.sum(:minerals) %></li>
    </ul>
  <% else %>
    <h3>Foods (Empty)</h3>
    <p>
    Let's store some foods! :)
    </p>
  <% end %>
</div>
