<div class="container">
  <h1><%= @user.name %>の冷蔵庫</h1>
  <h3>Foods (<%= @user.foods.count %>)</h3>
  <div class="nutrition">
    <h4>Stats:</h4>
    <ul>
      <li>protein( <%= "%.2f" % @user.foods.sum(:protein) %> )</li>
      <li>lipd( <%= "%.2f" % @user.foods.sum(:lipd) %> )</li>
      <li>carbon( <%= "%.2f" % @user.foods.sum(:carbon) %> )</li>
      <li>vitamin( <%= "%.2f" % @user.foods.sum(:vitamin) %> )</li>
      <li>minerals( <%= "%.2f" % @user.foods.sum(:minerals) %> )</li>
    </ul>
  </div>
</div>

<%#= column_chart ({
  "タンパク質": "%.2f" % @user.foods.sum(:protein),
  "脂質": "%.2f" % @user.foods.sum(:lipd),
  "炭水化物": "%.2f" % @user.foods.sum(:carbon),
  "ビタミン": "%.2f" % @user.foods.sum(:vitamin),
  "ミネラル": "%.2f" % @user.foods.sum(:minerals)}),
colors: ["red"],xtitle: "五大栄養素", ytitle: "栄養量"
%>
