<p id="notice"><%= notice %></p>
    <div class="user">
      <h1><%= @user.name %>の冷蔵庫</h1>
      <div class="icon">
        <p>↓click to open!</p>
        <%#= link_to image_tag('closed_refrige.png', :size => "20*20"), user_foods_path(@user) %>
      </div>
      <%= link_to 'Edit User', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </div>

    <div class="nutrition">
      <% if @user.foods.any? %>
        <h3>Foods (<%= @user.foods.count %>)</h3>
        <h4>Stats:</h4>
        <ul>
          <li>protein( <%= "%.2f" % @user.foods.sum(:protein) %> )</li>
          <li>lipd( <%= "%.2f" % @user.foods.sum(:lipd) %> )</li>
          <li>carbon( <%= "%.2f" % @user.foods.sum(:carbon) %> )</li>
          <li>vitamin( <%= "%.2f" % @user.foods.sum(:vitamin) %> )</li>
          <li>minerals( <%= "%.2f" % @user.foods.sum(:minerals) %> )</li>
        </ul>
    </div>
  <% else %>
    <h3>Foods (Empty)</h3>
    <p>
    Let's store some foods! :)
    </p>
  <% end %>
    <%= link_to 'Open Refrige', user_foods_path(@user) %>

<%#= column_chart ({
  "タンパク質": "%.2f" % @user.foods.sum(:protein),
  "脂質": "%.2f" % @user.foods.sum(:lipd),
  "炭水化物": "%.2f" % @user.foods.sum(:carbon),
  "ビタミン": "%.2f" % @user.foods.sum(:vitamin),
  "ミネラル": "%.2f" % @user.foods.sum(:minerals)}),
   colors: ["red"],xtitle: "五大栄養素", ytitle: "栄養量"
 %>
