<li id="food-<%= food.id %>">
  <div class="food_image">
    <%= link_to image_tag('food_kinds/%04d.jpg' % food.kind_id), edit_food_path(food) %>

    <p class="amount">×<%= food.amount %></p>

    <p class="data"><%= food.created_at.strftime("%m/%d")%></p>
  </div>
  <span class="food"><%= truncate(food.foodname, length: 8, omission: "…") %></span>
  <%#= link_to 'Delete', food, method: :delete %>
</li>
