<div class="food-block" id="food-<%= food.id %>">
  <%= link_to(edit_food_path(food)) do %>
    <div class="flex-column">
      <div class="flex-row flex-justify-start">
        <span class="food-tag food-date"><%= food.created_at.strftime("%m/%d")%></span>
      </div>

      <%= image_tag('food_kinds/%04d.jpg' % food.kind_id, class: "food-img") %>

      <div class="flex-row flex-justify-end">
        <span class="food-tag food-amount">×<%= food.amount %></span>
      </div>
    </div>
    <span class="food"><%= truncate(food.foodname, length: 6, omission: "…") %></span>
    <%#= link_to 'Delete', food, method: :delete %>
  <% end %>
</div>
