<link rel="stylesheet" type="text/css" href="application.css">
<li id="food-<%= food.id %>">
  <span class="food"><%= food.foodname %></span>

  <div class="food_image">
    <%= link_to image_tag('food_kinds/%04d.jpg' % food.kind_id), edit_food_path(food) %>

    <p class="amount">×<%= food.amount %></p>

    <p class="data"><%= food.created_at.strftime("%m/%d")%></p>
  </div>
  <%#= link_to 'Delete', food, method: :delete %>
</li>
