<link rel="stylesheet" type="text/css" href="application.css">
<div class="status">
  <h1><%= @user.name %>の冷蔵庫</h1>
    <div class='opening_icon'>
      <%= link_to image_tag('/Users/chr/Desktop/open_refrige.png'), user_path(@user) %>
    </div>
</div>
<br>

<div class='container'>
  <h3>Edit Food</h3>

  <%= @food.foodname %>

  <%= form_for(@food) do |f| %>
    <%= f.label :amount %>
    <%= f.text_field :amount, placeholder: @food.amount %>

    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>

