<h1><%= @user.name %>の冷蔵庫</h1>
<h3>食べ物を入れる</h3>

<!-- form -->
<%= form_for(@food, html: {class: "flex-content-strech flex-column"}) do |f| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <!-- error message -->

  <!-- Ajax -->
  <%= f.label :foodname, "食品名" %>
  <%= f.text_field :foodname, class: 'form-control', id: "search-form" %>

  <div id="result" class="flex-content-scroll card-m bg-c-3">
  </div>

  <!-- amount -->
  <%= f.label :amount, "数量" %>
  <%= f.text_field :amount, class: 'form-control' %>

  <%= f.submit '冷蔵庫に入れる', class: 'btn btn-primary' %>
<% end %>

<!-- Ajax Script at foods-search.js -->
