<div class="container flex-fixed">
  <h1><%= @user.name %>の冷蔵庫</h1>
  <h3>食べ物を入れる</h3>
</div>

<!-- form -->
<%= form_for(@food, html: {class: "container flex-content-scroll"}) do |f| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <!-- error message -->

  <!-- Ajax -->
  <%= f.label :foodname, "食品名" %>
  <%= f.text_field :foodname, class: 'form-control', id: "search-form" %>

  <label for="result">食品種類（食品名の検索結果を選択）</label>
  <div id="result" class="flex-content-strech card-m bg-c-3">
  </div>

  <!-- amount -->
  <%= f.label :amount, "数量" %>
  <%= f.text_field :amount, class: 'form-control' %>

  <%= f.submit '冷蔵庫に入れる', class: 'btn btn-primary' %>
<% end %>

<!-- Ajax Script at foods-search.js -->
