<% provide(title: 'New Food') %>
<h3>New Food form</h3>

<%= link_to 'Back', user_foods_path %>

<!-- Ajax -->
<input type=form id="form" placeholder="Input food name to search" style="width= 250px;"/>
<!-- Ajax Script -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    $(document).on('keyup', '#form', function(e){
      e.preventDefault();
      var input = $.trim($(this).val());
      $.ajax({
        url: '/foods/search',
        type: 'GET',
        data: ('keyword=' + input),
        processData: false,
        contentType: false,
        dataType: 'json'
      })
        .done(function(data){
          $('#result').find('li').remove();
          $(data).each(function(i, kind){
            $('#result').append(`<li><input type="radio" value="${kind.id}" name="food[kind_id]" id="food_kind_id_${kind.id}">${kind.kindname}</li>`
            )
          });
        })
    });
  });
</script>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!-- form -->
    <%= form_for(@food) do |f| %>
      <!-- error message -->

      <%= hidden_field_tag :user_id, @user.id %>

      <ul id="result">
        <li><%= f.radio_button :kind_id, 1 %>食材の種類を検索してください</li>
      </ul>

      <%= f.label :foodname %>
      <%= f.text_field :foodname, class: 'form-control' %>

      <!-- amount -->
      <%= f.label :amount %>
      <%= f.text_field :amount, class: 'form-control' %>

      <%= f.submit 'Add New Food', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
