<h1><%= @user.name %>の冷蔵庫</h1>
<h3>食べ物を入れる</h3>

<!-- form -->
<%= form_for(@food, html: {class: "flex-content-strech flex-column"}) do |f| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <!-- error message -->

  <!-- Ajax -->
  <%= f.label :foodname, "食品名" %>
  <%= f.text_field :foodname, class: 'form-control', id: "search-form" %>

  <div id="result" class="flex-content-scroll card-m bg-blue">
  </div>

  <!-- amount -->
  <%= f.label :amount, "数量" %>
  <%= f.text_field :amount, class: 'form-control' %>

  <%= f.submit '冷蔵庫に入れる', class: 'btn btn-primary' %>
<% end %>

<!-- Ajax Script -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).on('turbolinks:load', function(){
    $(document).on('keyup', '#search-form', function(e){
      e.preventDefault();
      var input = $.trim($(this).val());
      $.ajax({
        url: '/foods/search',
        type: 'GET',
        data: ('keyword=' + input),
        processData: false,
        contentType: false,
        dataType: 'json'
      })
        .done(function(data){
          $('#result').find('input[type="radio"]').remove();
          $('#result').find('label.label-radio').remove();
          $(data).each(function(i, kind){
            $('#result').append(
              `<div><input type="radio" value="${kind.id}" name="food[kind_id]" id="food_kind_id_${kind.id}"><label for="food_kind_id_${kind.id}" class="label-radio">${kind.kindname}</label></div>`
            )
          });
        })
    });
  });
</script>
