<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

  <body>
    <div id="wrapper-container" class="flex-column bg-blue">

      <!-- Header -->
      <div id="header" class="flex-row flex-justify-between flex-align-center bg-white">
        <div name="left menu" id="menu-left" class="flex-row">
          <%= link_to 'VRegrige', root_path %>
        </div>
        <div name="right menu" id="menu-right" class="flex-row">
          <% if logged_in? %>
            <%= link_to current_user.name, edit_user_path(current_user) %>
            <%= link_to image_tag('icons/logout.svg', class: "header-icon-btn", id: "icon-logout"), logout_path, method: 'delete' %>
          <% else %>
            <%= link_to 'ログイン', login_path %>
          <% end %>
        </div>
      </div>

      <!-- Flash -->
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <!-- Main Content -->
      <div class="flex-content-strech flex-column bg-white card-l">
        <%= yield %>
      </div>

      <!-- Footer -->
      <div id="footer" class="flex-row flex-justify-around flex-align-center bg-blue">
        <% if logged_in? %>
          <%= link_to image_tag('icons/foods.svg', class: "footer-icon-btn", id: "icon-foods"), user_foods_path(current_user) %>
          <%= link_to image_tag('icons/plus.svg', class: "footer-icon-btn", id: "icon-plus"), new_user_food_path(current_user) %>
          <%= link_to image_tag('icons/stats.svg', class: "footer-icon-btn", id: "icon-stats"), user_path(current_user) %>
        <% else %>
          <%#= link_to '今すぐ始める', new_user_path %>
        <% end %>
      </div>

    </div>
  </body>
</html>
