<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

  <body>
    <div class="container flex-column">

      <!-- Header -->
      <div class="header">
      </div>

      <!-- Main Content -->
      <div class="">
        <%= yield %>
      </div>

      <!-- Footer -->
      <div class="footer">
      </div>

    </div>
  </body>
</html>
